:root{

}

.top_banner{
  background-color: blue;
  color: white;
  text-align: center;
  border: solid black;
}

.main{
  text-align: center;
  border-top: 10px solid rgba(90, 177, 235, 0.925);
}

main{
  margin: auto 200px;
}

.bottom{
  background-color: blue;
  border: solid black;
  min-height: 100px;
}

.main, .side{
  display: inline-block;
}

.main {
  width: 60%;
  margin-top: 5em;
}

.side{
  text-align: center;
  width: 25%;
  margin-left: 2rem;
}
 
.image_here {
  vertical-align: auto;
  color: white;
  background-color: blue;
  max-width: 170px;
  min-height: 80px;
  margin-left: 30px;
}

.image_text {
  margin-left: 50px;
    margin-top: 30px;
    display: flex;
    position: absolute;
}